body {
  padding: 0;
  margin: 0;
  background-color: #ffdeab;
}
h1 {
  font-weight: bolder;
  width: auto;
  font-size: 50px;
  font-family: "Cookie", cursive;
}
.register-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.remove-underline {
  text-decoration: none;
  color: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: white;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.button-custom {
  width: 22vw;
  height: 200px;
  border: 5px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.496);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
  background-color: #8cc5f5;
  font-family: "Roboto", sans-serif;
}
.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-100 {
  width: 100%;
}
.button-custom:hover {
  background-color: #3e79a8;
  box-shadow: 15px 15px rgba(0, 0, 0, 0.496);
}

.center {
  text-align: center;
}

input,
span,
label,
textarea {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
  outline: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
